{% extends 'baseAdmin.html.twig' %}

{% block body %}

<div class="panel panel-default">
    <div class="col-lg-12">
        <h1 class="page-header">Gestion des étudiants</h1>
    </div>
    <div class="col-lg-12">

        <div class="panel panel-default">
            <div class="panel-heading">
                Liste des étudiants
            </div>
            <div class="panel-body">
                <button type="button" onclick="location.href='{{ path('admin_user_edit',{'id': 'new ' })}}';" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Ajouter un étudiant</button>

                <div class="row">
                    <div class="col-sm-12">
                        <table class="tableAdmin">
                            <thead>
                            <tr role="row">
                                <th>Numéro étudiant</th>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Email</th>
                                <th>Droit</th>
                                <th>Compte validé</th>
                                <th>Année</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in listUser %}
                                <tr class="gradeA odd" role="row">
                                    <td class="sorting_1">{{ user.numeroEtudiant }}</td>
                                    <td>{{ user.nom }}</td>
                                    <td>{{ user.prenom }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>
                                        <ul>
                                            {% for role in user.roles %}
                                                {% if role != 'ROLE_USER' %}
                                                    <li>
                                                        {% if role == 'ROLE_ETUDIANT' %}
                                                            Etudiant
                                                        {% endif %}
                                                        {% if role == 'ROLE_PROFESSEUR' %}
                                                            Professeur
                                                        {% endif %}
                                                        {% if role == 'ROLE_ADMIN' %}
                                                            Administrateur
                                                        {% endif %}
                                                        {% if role == 'ROLE_SUPER_ADMIN' %}
                                                            Super Administrateur
                                                        {% endif %}
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td>
                                        {% if user.enabled %}
                                            Oui
                                        {% else %}
                                            Non
                                        {% endif %}
                                    </td>
                                    <td>{% if user.parcours != null %}{{ user.parcours.annee }}{% endif %}</td>
                                    <td>
                                        <button type="button" onclick="location.href='{{ path('admin_user_show',{'id':user.id}) }}';" class="btn btn-default">Voir</button>
                                        <button type="button" onclick="location.href='{{ path('admin_choice_user',{'id':user.id}) }}';" class="btn btn-default">Voir les choix</button>
                                        <button type="button" onclick="location.href='{{ path('admin_user_edit',{'id':user.id}) }}';" class="btn btn-primary">Modifier</button>
                                        <button type="button" onclick="location.href='{{ path('admin_user_delete',{'id':user.id}) }}';" class="btn btn-danger">Supprimer</button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
