{% extends 'baseAdmin.html.twig' %}

{% block body %}


    <div id="page-wrapper" style="min-height: 518px;">
        <div class="row">

            {% if updateResponse is defined%}
                {% if updateResponse == true %}
                    <div class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        L'utilisateur a bien été enregistré.
                    </div>
                {% else %}
                    <div class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        Une erreur s'est produite lors de l'enregistrement. Le numéro étudiant doit être unique.
                    </div>
                {% endif %}
            {% endif %}
            {% if deleteResponse is defined %}
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    L'utilisateur a bien été supprimé.
                </div>
            {% endif %}

            <div class="panel panel-default">
                <div class="col-lg-12">
                    <h1 class="page-header">Gestion des utilisateurs</h1>
                </div>
                <div class="col-lg-12">
                <!-- /.panel-heading -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Liste des utilisateurs
                        </div>
                        <div class="panel-body">
                            <button type="button" onclick="location.href='{{ path('admin_user_edit',{'id': 'new ' })}}';" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Ajouter un utilisateur</button>

                            {#Tableau#}
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="tableAdmin">
                                        <thead>
                                        <tr role="row">
                                            <th>Numéro étudiant</th>
                                            <th>Nom</th>
                                            <th>Prénom</th>
                                            <th>Email</th>
                                            <th>Parcours</th>
                                            <th>Type</th>
                                            <th>Valide</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for user in listUser %}
                                            <tr class="gradeA odd" role="row">
                                                <td class="sorting_1">{{ user.numeroEtudiant }}</td>
                                                <td>{{ user.nom }}</td>
                                                <td>{{ user.prenom }}</td>
                                                <td>{{ user.email }}</td>
                                                <td>{{ user.parcours }}</td>
                                                <td>{{ user.type }}</td>
                                                <td>{{ user.valide }}</td>
                                                <td>
                                                    <button type="button" onclick="location.href='{{ path('admin_user_show',{'id':user.id}) }}';" class="btn btn-default">Voir</button>
                                                    <button type="button" onclick="location.href='{{ path('admin_user_edit',{'id':user.id}) }}';" class="btn btn-primary">Modifier</button>
                                                    <button type="button" onclick="location.href='{{ path('admin_user_delete',{'id':user.id}) }}';" class="btn btn-danger">Supprimer</button>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
