{% extends 'baseAdmin.html.twig' %}
{% block body %}
    <div class="row">
        <div class="panel panel-default">
            <div class="col-lg-12">
                 <h1 class="page-header">Gestion des étudiants</h1>
            </div>
            <div class="col-lg-12">
                 <!-- /.panel-heading -->
                 <div class="panel panel-default">
                    <div class="panel-heading">
                        Créer ou modifier un étudiant
                    </div>
                    <div class="panel-body">
                        {{ form_start(form) }}
                        <table class="table table-bordered">
                            <tr>
                                <td>{{ form_label(form.numeroEtudiant) }}</td>
                                <td>{{ form_widget(form.numeroEtudiant)}}</td>
                            </tr>
                            <tr>
                                <td>{{ form_label(form.nom) }}</td>
                                <td>{{ form_widget(form.nom)}}</td>
                            </tr>
                            <tr>
                                <td>{{ form_label(form.prenom) }}</td>
                                <td>{{ form_widget(form.prenom)}}</td>
                            </tr>
                            <tr>
                                <td>{{ form_label(form.email) }}</td>
                                <td>{{ form_widget(form.email)}}</td>
                            </tr>
                            <tr>
                                <td>{{ form_label(form.username) }}</td>
                                <td>{{ form_widget(form.username) }}</td>
                            </tr>
                            <tr>
                                <td>{{ form_label(form.parcours) }}</td>
                                <td>{{ form_widget(form.parcours)}}</td>
                            </tr>

                        </table>
                        <button type="button" onclick="location.href='{{ path('admin_user')}}';" class="btn btn-default pull-left"> Retour </button>
                        {{ form_row(form.save) }}
                        {{ form_end(form) }}
                    </div>
                 </div>
            </div>
        </div>
    </div>

{% endblock %}