{% extends 'jaya/baseJaya.html.twig' %}
{% block title %}
    Connexion
{% endblock %}
{% block body %}

    <div class="bg-image">

        <div class="wrapper-center">
            <div class="container">
                <div class="jaya">jAYA</div>

                <form action="{{ path('fos_user_security_check') }}" method="POST">
                    <div class="form-group">
                        <label for="email">Identifiant</label>
                        <input type="text" class="form-control input-login" id="email" name="_username" placeholder="Identifiant ou adresse email">
                    </div>

                    <div class="form-group">
                        <label for="password">Mot de passe</label>
                        <input type="password" class="form-control input-login" id="password" name="_password" placeholder="Mot de passe">
                    </div>

                    {% if error is defined and error %}
                        <div class="alert alert-danger alert-light">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% for inscription in app.session.flashbag.get('inscription') %}
                        <div class="alert alert-info alert-light">
                            {{ inscription }}
                        </div>
                    {% endfor %}

                    <div class="forgot-password"><a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié ?</a></div>

                    <button type="submit" class="btn btn-lg btn-block btn-login">Connexion</button>

                    <div class="or">OU</div>

                    <div><a href="{{ path('fos_user_registration_register') }}" class="btn btn-lg btn-block btn-inscription">Inscription</a></div>
                </form>
            </div>
        </div>

    </div>

{% endblock %}