{% extends 'baseAdmin.html.twig' %}
{% block body %}
    <div id="page-wrapper" style="min-height: 518px;">
        <div class="row">
            <div class="panel panel-default">
                <div class="col-lg-12">
                     <h1 class="page-header">Gestion des Pôles de compétences</h1>
                </div>
                <div class="col-lg-12">
                     <!-- /.panel-heading -->
                     <div class="panel panel-default">
                        <div class="panel-heading">
                            Créer ou modifier un pôle de compétence
                        </div>
                        <div class="panel-body">
                            {{ form_start(form) }}
                            <table class="table table-bordered">
                                <tr>
                                    <td>{{ form_label(form.nom) }}</td>
                                    <td>{{ form_widget(form.nom)}}</td>
                                </tr>
                                <tr>
                                    <td>{{ form_label(form.matieres) }}</td>
                                    <td>{{ form_widget(form.matieres)}}</td>
                                </tr>
                            </table>
                            <button type="button" onclick="location.href='{{ path('admin_pole')}}';" class="btn btn-default pull-left"> Retour </button>
                            {{ form_row(form.save) }}
                            {{ form_end(form) }}
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
