{% extends 'baseAdmin.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css') }}"/>
{% endblock %}
{% block body %}
    <div id="page-wrapper" style="min-height: 518px;">
        <div class="row">
            <div class="panel panel-default">
                <div class="col-lg-12">
                     <h1 class="page-header">Gestion des matières</h1>
                </div>
                <div class="col-lg-12">
                     <!-- /.panel-heading -->
                     <div class="panel panel-default">
                        <div class="panel-heading">
                            Créer ou modifier une matière
                        </div>
                        <div class="panel-body">
                            {{ form_start(form) }}
                            <table class="table table-bordered">
                                <tr>
                                    <td>{{ form_label(form.nom) }}</td>
                                    <td>{{ form_widget(form.nom)}}</td>
                                </tr>
                                <tr>
                                    <td>{{ form_label(form.dateDebut) }}</td>
                                    <td>
                                        <div class='input-group' id="dateDebut">
                                            {{ form_widget(form.dateDebut) }}
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{ form_label(form.dateFin) }}</td>
                                    <td>
                                        <div class='input-group' id="dateFin">
                                            {{ form_widget(form.dateFin) }}
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{ form_label(form.dateDebutChoix) }}</td>
                                    <td>
                                        <div class='input-group' id="dateDebutChoix">
                                            {{ form_widget(form.dateDebutChoix) }}
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{ form_label(form.dateFinChoix) }}</td>
                                    <td>
                                        <div class='input-group' id="dateFinChoix">
                                            {{ form_widget(form.dateFinChoix) }}
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                              
                            </table>
                            <button type="button" onclick="location.href='{{ path('admin_semestre')}}';" class="btn btn-default pull-left"> Retour </button>
                            {{ form_row(form.save) }}
                            {{ form_end(form) }}
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {% include 'admin/footerScriptDatePicker.html.twig' %}
    <script type="text/javascript">
        $(function () {
            $('#dateDebut').datetimepicker({
                locale: 'fr'
            });

            $('#dateFin').datetimepicker({
                locale: 'fr'
            });

            $('#dateDebutChoix').datetimepicker({
                locale: 'fr'
            });

            $('#dateFinChoix').datetimepicker({
                locale: 'fr'
            });
        });
    </script>
{% endblock %}