{% extends 'jaya/baseJaya.html.twig' %}
{% block title %}
    Connexion
{% endblock %}
{% block body %}

    <div class="container choixUe">
        {%  if semestre == null %}
            <div class="row">
                <div class="col-md-offset-3 col-md-5">
                    <div class="alert alert-info">
                        <b>Nous sommes actuellement hors semestre, aucun choix d'UE n'est prévu !</b>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if semestre != null %}
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h1>{{ semestre.nom }}</h1>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h4>
                        <div class="alert alert-info">
                            {% if nowDate < semestre.dateDebutChoix %}
                                Vous pouvez choisir vos unités d'enseignements optionelles à partir de la date du <b>{{ semestre.dateDebutChoix|date("d/m/Y") }}</b> à <b>{{ semestre.dateDebutChoix|date('H\\hi') }}</b>.
                            {% elseif nowDate > semestre.dateFinChoix %}
                                Le choix des unités d'enseignements optionelles est cloturés.
                            {% else %}
                                Le choix des unités d'enseignement se cloture le <b>{{ semestre.dateFinChoix|date("d/m/Y") }}</b> à <b>{{ semestre.dateFinChoix|date("H\\hi") }}</b>.
                            {% endif %}
                        </div>
                    </h4>
                </div>
            </div>

            <!-- Affichage des matières optionelles par pôle -->
            {% if poles != null %}
                <div class="row">
                    <div class="col-md-offset-3 col-md-6">
                    {% for pole in poles %}
                        <!-- POLE -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pole-title">
                                    <i class="glyphicon glyphicon-bookmark pole-icon"></i><span class="pole-nom">{{ pole.nom }}</span>
                                </div>
                            </div>
                        </div>
                        <!-- TABLEAU MATIERE -->
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table sortable">
                                    <thead>
                                        <tr>
                                            <th class="col-md-1"></th>
                                            <th class="col-md-3">Ordre</th>
                                            <th class="col-md-8">Matière</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                    {% for matiere in matieres %}
                                        {% if matiere.matiere.poleDeCompetence == pole %}
                                            <tr draggable="true" rel="{{ matiere.id }}">
                                                <td><i class="glyphicon glyphicon-option-vertical"></i></td>
                                                <td class="ordre">{{ matiere.ordre }}</td>
                                                <td>{{ matiere.matiere.nom }}</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% endfor %}
                        <div class="row">
                            <div class="col-md-12">
                                <button id="submit" type="submit" class="btn btn-lg btn-block btn-blue margin-bottom">Enregistrer mes choix</button>
                            </div>

                            <div id="response" class="col-md-12 hidden">

                            </div>
                        </div>
                    </div>
                </div>

            {% endif %}

        {% endif %}

    </div>

{% endblock %}