{% extends 'jaya/baseJaya.html.twig' %}
{% block title %}Choix des UEs{% endblock %}
{% block stylesheets %}
{% endblock %}
{% block body %}

    <div class="content choixUe">
        {%  if semestre == null %}
            <div class="row margin-top">
                <div class="col-md-12">
                    <div class="alert alert-warning">
                        <b>Nous sommes actuellement hors semestre, aucun choix d'UEs n'est prévu !</b>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if semestre != null %}
            <div class="row">
                <div class="col-md-12">
                    <h3 class="border-title">{{ semestre.nom }}</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h5>
                        <div class="alert alert-info">
                            {% if nowDate < semestre.dateDebutChoix %}
                                Vous pouvez choisir vos unités d'enseignements optionelles à partir de la date du <b>{{ semestre.dateDebutChoix|date("d/m/Y") }}</b> à <b>{{ semestre.dateDebutChoix|date('H\\hi') }}</b>.
                            {% elseif nowDate > semestre.dateFinChoix %}
                                Les choix des unités d'enseignements optionelles sont cloturés.
                                Vous trouverez ci-dessous le résultat de vos choix d'UEs.
                            {% else %}
                                Le choix des unités d'enseignements se cloture le <b>{{ semestre.dateFinChoix|date("d/m/Y") }}</b> à <b>{{ semestre.dateFinChoix|date("H\\hi") }}</b>.
                            {% endif %}
                        </div>
                    </h5>
                </div>

                {% if poles == null and arrayPoleObl == null and nowDate > semestre.dateFinChoix %}
                    <div class="col-md-12">
                        <h5>
                            <div class="alert alert-warning">
                                La répartition des étudiants par matière n'a pas encore eu lieu, veuillez patienter !
                            </div>
                        </h5>
                    </div>
                {% endif %}
            </div>



            {% if poles != null and nowDate > semestre.dateFinChoix %}
                <!-- AFFICHAGE DES MATIERES OPTIONELLES -->
                <div class="row">
                    <div class=" col-md-offset-2 col-md-8">
                        {% for pole in poles %}
                            <div class="pole-matiere">
                                <!-- POLE -->
                                <div class="row pole">
                                    <div class="col-xs-12">
                                        <div class="pole-title">
                                            <i class="glyphicon glyphicon-bookmark pole-icon"></i><span class="pole-nom">{{ pole.nom }}</span>
                                        </div>
                                    </div>
                                </div>

                                <!-- TITRE -->
                                <div class="row sort-title">
                                    <div class="col-xs-12">
                                        <div class="col-xs-12">Matière optionnelle</div>
                                    </div>
                                </div>

                                <!-- MATIERES OPTIONELLES DU POLE -->
                                <div class="row">
                                    <div class="col-xs-12 final">
                                        {% for matiere in matieres %}
                                            {% if matiere.poleDeCompetence == pole %}
                                                <!-- MATIERE -->
                                                <div class="matiere">
                                                    <div class="col-xs-12">{{ matiere.nom }}</div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            {% if arrayPoleObl != null and nowDate > semestre.dateFinChoix %}
                <!-- AFFICHAGE DES MATIERES OBLIGATOIRES -->
                <div class="row">
                    <div class=" col-md-offset-2 col-md-8">
                        {% for pole in arrayPoleObl %}
                            <div class="pole-matiere">
                                <!-- POLE -->
                                <div class="row pole">
                                    <div class="col-xs-12">
                                        <div class="pole-title">
                                            <i class="glyphicon glyphicon-bookmark pole-icon"></i><span class="pole-nom">{{ pole.nom }}</span>
                                        </div>
                                    </div>
                                </div>

                                <!-- TITRE -->
                                <div class="row sort-title">
                                    <div class="col-xs-12">
                                        <div class="col-xs-12">Matière obligatoire</div>
                                    </div>
                                </div>

                                <!-- MATIERES OBLIGATOIRES DU POLE -->
                                <div class="row">
                                    <div class="col-xs-12 final">
                                        {% for matiere in arrayMatiereObl %}
                                            {% if matiere.poleDeCompetence == pole %}
                                                <!-- MATIERE -->
                                                <div class="matiere">
                                                    <div class="col-xs-12">{{ matiere.nom }}</div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            <!-- Affichage des matières optionelles par pôle pour le choix -->
            {% if poles != null and nowDate > semestre.dateDebutChoix and nowDate < semestre.dateFinChoix %}
                <div class="row">
                    <div class=" col-md-offset-2 col-md-8">
                        {% for pole in poles %}
                            <div class="pole-matiere">
                                <!-- POLE -->
                                <div class="row pole">
                                    <div class="col-xs-8">
                                        <div class="pole-title">
                                            <i class="glyphicon glyphicon-bookmark pole-icon"></i><span class="pole-nom">{{ pole.nom }}</span>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="nb-choix pull-right">
                                            {% for poleParcours in polesParcours %}
                                                {% if poleParcours.poleDeCompetence == pole %}
                                                    <i class=" glyphicon glyphicon-hand-right choix-icon"></i>{{ poleParcours.nbrMatiereOptionnelle }} choix
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>

                                <!-- TITRE -->
                                <div class="row sort-title">
                                    <div class="col-xs-12">
                                        <div class="col-xs-1"></div>
                                        <div class="col-xs-2 ordre">Ordre</div>
                                        <div class="col-xs-7">Matière</div>
                                        <div class="col-xs-2">Place</div>
                                    </div>
                                </div>

                                <!-- MATIERES OPTIONELLES DU POLE -->
                                <div class="row">
                                    <div class="col-xs-12 sort">
                                        {% for matiere in matieres %}
                                            {% if matiere.matiere.poleDeCompetence == pole %}
                                                <!-- MATIERE -->
                                                <div class="matiere" rel="{{ matiere.id }}">
                                                    <div class="col-xs-1 move-icon"><i class="glyphicon glyphicon-move"></i></div>
                                                    <div class="col-xs-2 ordre"><label class="badge">{{ matiere.ordre }}</label></div>
                                                    <div class="col-xs-7">{{ matiere.matiere.nom }}</div>
                                                    <div class="col-xs-2 place"><label class="label label-default label-place">{{ matiere.matiere.place }}</label></div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        <div>
                            <button id="submit" type="submit" class="btn btn-lg btn-block btn-blue margin-bottom">Enregistrer mes choix</button>
                            <div id="response" class="response hidden">
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>

{% endblock %}