{% extends 'jaya/baseJaya.html.twig' %}
{% block title %}Choix des UEs{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/front/choix-ue.css') }}" />
{% endblock %}
{% block body %}

    <div class="content choixUe">
        {%  if semestre == null %}
            <div class="row margin-top">
                <div class="col-md-12">
                    <div class="alert alert-warning">
                        <b>Nous sommes actuellement hors semestre, aucun choix d'UEs n'est prévu !</b>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if semestre != null %}
            <div class="row">
                <div class="col-md-12">
                    <div class="semestre-title">
                        <h3>{{ semestre.nom }}</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h5>
                        <div class="alert alert-info">
                            {% if nowDate < semestre.dateDebutChoix %}
                                Vous pouvez choisir vos unités d'enseignements optionelles à partir de la date du <b>{{ semestre.dateDebutChoix|date("d/m/Y") }}</b> à <b>{{ semestre.dateDebutChoix|date('H\\hi') }}</b>.
                            {% elseif nowDate > semestre.dateFinChoix %}
                                Le choix des unités d'enseignements optionelles est cloturés.
                            {% else %}
                                Le choix des unités d'enseignements se cloture le <b>{{ semestre.dateFinChoix|date("d/m/Y") }}</b> à <b>{{ semestre.dateFinChoix|date("H\\hi") }}</b>.
                            {% endif %}
                        </div>
                    </h5>
                </div>
            </div>

            <!-- Affichage des matières optionelles par pôle -->
            {% if poles != null %}
                <div class="row">
                    <div class=" col-md-offset-3 col-md-6">
                        {% for pole in poles %}
                            <!-- POLE -->
                            <div class="row pole">
                                <div class="col-xs-12">
                                    <div class="pole-title">
                                        <i class="glyphicon glyphicon-bookmark pole-icon"></i><span class="pole-nom">{{ pole.nom }}</span>
                                    </div>
                                </div>
                            </div>

                            <!-- TITRE -->
                            <div class="row sort-title">
                                <div class="col-xs-1"></div>
                                <div class="col-xs-2">Ordre</div>
                                <div class="col-xs-7">Matière</div>
                                <div class="col-xs-2">Place</div>
                            </div>

                            <!-- MATIERES OPTIONELLES DU POLE -->
                            <div class="row">
                                <div class="col-xs-12 sort">


                                {% for matiere in matieres %}
                                    {% if matiere.matiere.poleDeCompetence == pole %}
                                        <!-- MATIERE -->
                                        <div class="matiere" rel="{{ matiere.id }}">
                                            <div class="col-xs-1 move-icon"><i class="glyphicon glyphicon-move"></i></div>
                                            <div class="col-xs-2 ordre"><label class="badge">{{ matiere.ordre }}</label></div>
                                            <div class="col-xs-7">{{ matiere.matiere.nom }}</div>
                                            <div class="col-xs-2 place"><label class="label label-default label-place">{{ matiere.matiere.place }}</label></div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                </div>
                            </div>
                        {% endfor %}

                        <div>
                            <button id="submit" type="submit" class="btn btn-lg btn-block btn-blue margin-bottom">Enregistrer mes choix</button>
                            <div id="response" class="hidden"></div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>

{% endblock %}