<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Feuille d'emargement</title>
        <link rel="stylesheet" type="text/css" href="/web/css/compiled/app.css"/>

    </head>
    <body>
        <div>
            <h4>Signature des étudiants</h4>

            <table style="width: 100%;border-collapse: collapse; ">
                <tr style="border: solid 1px">
                    <th>Num</th>
                    <th align="left">Nom</th>
                    <th align="left">Parcours</th>
                    <th align="left">Signature</th>
                </tr>
                {% set i = 1 %}
                {% for user in listUser %}
                    <tr style="border-bottom: 1px solid black;">
                        {#{{ dump() }}#}
                        <td align="center" height="50" style="border-bottom: 1px solid black;">{{ i }}</td>
                        <td style="border-bottom: 1px solid black;">{% if user['nom'] %} {{ user['nom'] }} {% endif %}{% if user['prenom'] %} {{ user['prenom'] }} {% endif %}</td>
                        <td style="border-bottom: 1px solid black;">{% if user['parcours'] %} {{ user['parcours'] }} {% endif %}</td>
                        <td style="border-bottom: 1px solid black;"></td>
                        {% set i = i + 1 %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </body>
</html>
